$lightGreen: #E7F5E0;
$lightBlue: #E0EDF5;
$yellow: #F0AD4E;
$blue: #0C629A;
$darkBlue: #063F65;

/* general */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #2E353A;
    &.overflow {
        overflow: hidden;
    }
}

.hidden {
    opacity: 0 !important;
    overflow: hidden;
    &.available-adoptions__slider {
        height: 500px;
    }
    &.individual-gallery,
    &.recent-adoptions__slider {
        height: 370px;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1076px;
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* backgrounds */
.green-bg {
    position: relative;
    background-color: #E7F5E0;
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-repeat: repeat-x;
        background-size: auto 100%;
    }
    &:before {
        background-image: url(../img/bg/green-bg.svg);
        background-position: 0 100%;
    }
    &:after {
        top: 100%;
        background-position: 0 0;
        background-image: url(../img/bg/green-bg.svg);
        transform: scale(-1, -1);
    }
}
.blue-bg {
    background-color: #E0EDF5;
    position: relative;
    margin-bottom: 60px;
    margin-top: 60px;
    &.blue-bg--no-margin-top {
        margin-top: 0;
    }
    &::before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background: url(../img/bg/blue-bg.svg) repeat-x 0 0;
        background-size: auto 100%;
    }
    &:after {
        top: 100%;
        transform: scale(-1, -1);
    }
}

@media (max-width: 767px) {
    .content {
        padding-top: 50px;
    }

    .blue-bg,
    .green-bg {
        margin-bottom: 45px;
        margin-top: 45px;
        &:before,
        &:after {
            height: 45px;
        }
        &:before {
            top: -45px;
        } 
    }

}
@media (min-width: 768px) {
    .content {
        padding-top: 80px;
    }

    .blue-bg {
        margin-bottom: 60px;
        margin-top: 60px;
        &:before,
        &:after {
            height: 60px;
        }
        &:before {
            top: -60px;
        } 
    }

    .green-bg {
        margin-top: 80px;
        margin-bottom: 80px;
        &:before,
        &:after {
            height: 80px;
        }
        &:before {
            top: -80px;
        }
    }
}



/* positions */
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
}

/* typography */
a {
    text-decoration: none;
    transition: all 0.3s;
}
a:not([class]) {
    color: #B40140;
    &:hover {
        color: #ED6283;
    }
}
h1 {
    font-weight: 700;
}
h2,
h3,
.h3,
h4,
.view-all-link {
    font-weight: 800;
}
.green {
    color: #2B620F;
}
.blue {
    color: #0C629A;
}
.white {
    color: #ffffff;
}
.uppercase {
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
.text-center {
    text-align: center;
}

.headline-stripe {
    position: relative;
    padding-bottom: 12px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25px;
        height: 2px;
        border-radius: 2px;
        background-color: $yellow;
    }
}

.headline-star {
    position: relative;
    display: inline-flex;;
    padding-left: 60px;
    padding-right: 60px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 38px;
        height: 44px;
        background: url(../img/icons/starts-smaller.svg) no-repeat 50% 50% / contain;
    }
    &:before {
        left: 0;
        bottom: -5px;
    }
    &:after {
        right: 0;
        transform: scaleY(-1);
        top: -5px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 15px;
        line-height: 1.5;
    }
    h1 {
        font-size: 24px;
        line-height: 1.3;
    }
    h2 {
        font-size: 22px;
        line-height: 1.36;
    }
    h3,
    .h3,
    .view-all-link {
        font-size: 20px;
        line-height: 1.4;
    }
    h4 {
        font-size: 18px;
        line-height: 1.3;
    }
    h5 {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 800;
    }
    .large,
    .learn-more-link {
        font-size: 16px;
        line-height: 1.375;
    }

    .headline-star {
        padding-left: 30px;
        padding-right: 30px;
        &:before,
        &:after {
            width: 20px;
            height: 30px;
        }
    }

    .footer {
        &__list {
            @extend .large;
        }
    }
}
@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.6;
    }
    h1 {
        font-size: 50px;
        line-height: 1.1;
    }
    h2 {
        font-size: 38px;
        line-height: 1.2;
    }
    h3,
    .h3,
    .view-all-link {
        font-size: 28px;
        line-height: 1.14;
    }
    h4 {
        font-size: 20px;
        line-height: 1.4;
    }
    h5 {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 700;
    }
    .large,
    .learn-more-link {
        font-size: 18px;
        line-height: 1.44;
    }
    .small {
        font-size: 12px;
        line-height: 2.1;
    }
}

/* button */
.button {
    height: 45px;
    padding-left: 23px;
    padding-right: 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    border: 1px solid $yellow;
    background-color: $yellow;
    transition: all 0.3s;
    font-weight: 600;
    color: #2E353A;
    font-size: 18px;
    text-align: center;
    &:hover {
        color: #2E353A;
        background-color: #FACF92;
    }
}

.circle-arrow-link {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid $yellow;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.2);
    }
}

.view-all-link,
.learn-more-link {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.view-all-link {
    font-weight: 800;
    .right-arrow {
        margin-left: 18px;
    }
}
.learn-more-link {
    font-weight: 600;
    .right-arrow {
        margin-left: 7px; 
    }
}

.js-link-arrow-right {
    color: $blue;
    &:hover {
        color: $darkBlue;
    }
    .right-arrow {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        flex-shrink: 0;
    }
}

@media (max-width: 767px) {
    .mobile-menu-btn {
        position: relative;
        width: 30px;
        height: 24px;
        &__line,
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            margin-left: -15px;
            height: 4px;
            width: 100%;
            border-radius: 2px;
            background-color: $blue;
            transition: all 0.3s;
        }
        &__line {
            top: 50%;
            margin-top: -2px;
        }
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }
        &.opened {
            .mobile-menu-btn__line {
                opacity: 0;
            }
            &:before {
                top: 10px;
                transform: rotate(45deg);
            }
            &:after {
                bottom: 10px;
                transform: rotate(-45deg);
            }
        }
    }
}
@media (min-width: 768px) {
    .mobile-menu-btn {
        display: none;
    }
}

/* header */
.header {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    background-color: #ffffff;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        height: 45px;
        z-index: 3;
        bottom: -15px;
        background: url(../img/header-bg.svg) repeat-x 0 100% / auto 90px;
    }
    a:not(.button) {
        color: #0C629A;
        &:hover {
            color:#B40140;
        }
    }
}

.logo {
    position: relative;
    z-index: 5;
    margin-bottom: -80px;
    img {
        display: block;
    }
}

.nav {
    font-weight: 500;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .has-children {
        & > a {
            display: flex;
            align-items: center;
            svg {
                margin-left: 5px;
                display: block;
            }
        }
    }
    .active > a:not(.button),
    .active {
        color: #B40140;
    }
}

.dropdown {
    overflow: hidden;
    transition: all 0.5s;
}

@media (max-width: 991px) {
    .logo {
        width: 108px;
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: 14px;
        background-color: #ffffff;
        &:before {
            height: 15px;
            background-size: auto 45px;
        }
    }
    .nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 0;
        text-align: center;
        transition: all 0.5s;
        overflow: hidden;
        z-index: 2;
        font-size: 20px;
        background-color: #ffffff;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 45px;
            height: 15px;
            // background: url(../img/bg/header-bg.svg) repeat-x 0 100%;
        }
        &.opened {
            
            height: calc(100vh - 45px);
            padding-top: 82px;
        }
        & > ul {
            position: absolute;
            bottom: 0;
            top: 82px;
            left: 0;
            right: 0;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            & > li {
                &:not(:last-child) {
                    border-bottom: 1px solid #dadada;
                }
            }
        }
        li {
            padding: 10px 0;
        }
        a {
            &:hover {
                color: #b40140;
            }
        }
        .has-children {
            & > a {
                justify-content: center;
            }
            li {
                font-size: 18px;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: 20px;
    }
    .nav {
        & > ul {
            margin: 0;
            display: flex;
            align-items: center;
            & > li {
                position: relative;
                padding-left: 10px;
                padding-right: 10px;
                & >  a {
                    font-size: 16px;
                    font-weight: 600;
                }
            }           
        }
        .dropdown {
            position: absolute;
            left: 0;
            top: calc(100% + 10px);
            display: none;
            padding-top: 35px;
            padding-bottom: 10px;
            padding-left: 24px;
            padding-right: 24px;
            margin-top: 9px;
            background-color: #ffffff;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            white-space: nowrap;
            &.showed {
                display: block;
            }
            li {
                line-height: 2;
            }
        }
    }
}

@media (min-width: 992px) {
    .nav {
        & > ul {
            & > li {
                padding-left: 20px;
                padding-right: 20px;
                & > a {
                    font-size: 18px;
                }
            }
        }
    }
}

/* banner */
.banner {
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 60px;
        background: url(../img/bg/banner-white-bg.svg) repeat-x 0 0 / auto 100%;
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--home {
        background-image: url(../img/banner/home.jpg);
        &:after {
            display: none;
        }
    }
    &--adopt {
        background-image: url(../img/banner/adopt.jpg);
    }
    &--adoptions {
        background-image: url(../img/banner/adoptions.jpg);
    }
    &--volunteer {
        background-image: url(../img/banner/volunteer.jpg);
    }
    &--events {
        background-image: url(../img/banner/events.jpg);
    }
    

    .headline-star {
        margin: unset;
        &:before,
        &:after {
            width: 47px;
            height: 61px;
            background-image: url(../img/icons/stars.svg);
        }
        &:before {
            bottom: auto;
            top: 95%;
        }
        &:after {
            transform: scaleX(-1);
            top: -20px
        }
    }
}

@media (max-width: 767px) {
    .banner {
        height: 400px;
        background-position: 88% 50%;
        display: flex;
        align-items: flex-end;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 240px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        } 
        &:after {
            height: 45px;
            background-position: 50% 100%;
        }
        &--home {
            .container {
                padding-bottom: 45px;
            }
        }
        &--adopt {
            background-position: 28% 50%;
        }
        .container {
            height: 240px;
            position: relative;
        }
        .headline-star {
            &:before,
            &:after {
                width: 30px;
                height: 42px;
            }
            &:before {
                top: 60%;
            }
            &:after {
                top: -10px;
            }
        }
    }
}


@media (min-width: 768px) {
    .banner {
        height: 551px;
        &--home {
            .container {
                justify-content: flex-start;
            }
        }
    }
}

/* slider */
.slick-slider {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 40px;
    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 18px;
        height: 30px;
        background-color: transparent;
        background: url(../img/icons/slider-arrow.svg) no-repeat 50% 50%;
        overflow: hidden;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
    }
    .slick-prev {
        left: 0;
        transform: scaleX(-1);
        &:hover {
            left: -10px;
        }
    }
    .slick-next {
        right: 0;
        &:hover {
            right: -10px;
        }
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        height: auto;
    }
    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px 0 0;
        padding: 0;
        li {
            list-style-type: none;
            padding-left: 6px;
            padding-right: 6px;
            &.slick-active {
                button {
                    background-color: #72808A;
                }
            }
        }
        button {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #72808A;
            overflow: hidden;
            text-indent: -9999px;
        }
    }
}

/* available-adoptions */
.available-adoptions {
    padding-bottom: 30px;
    &--margin-top {
        padding-top: 20px;
    }
    .community-events & {
        margin-top: 30px;
        margin-bottom: 80px;
        .available-adoptions__item {
            padding-top: 58px;
        }
        .available-adoptions__slider {
            padding-bottom: 20px;
        }
    }
    &__slider {
        &--top-negative {
            top: -95px;
            margin-bottom: -45px;
        }
    }
    &__item {
        height: 100%;
        padding: 25px 25px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 9px;
        box-shadow: 0px 3px 5px 2px rgba(46, 53, 58, 0.15);
        border: 1px solid rgba(46, 53, 58, 0.05);
        text-align: center; 
        transition: all 0.3s;
        .grid-columns & {
            box-shadow: none;
            border-color: transparent;
            &:hover {
                box-shadow: 0px 3px 5px 2px rgba(46, 53, 58, 0.2);
                border-color: rgba(46, 53, 58, 0.05);
                .learn-more-link {
                    background-color: $yellow;
                    border-color: $yellow;
                    .right-arrow {
                        width: 0;
                    }
                }
            }
        }
        h3 {
            margin-top: 0;
            margin-bottom: 10px;
        }
        h4 {
            margin-top: 0;
        }
        h5 {
            margin: 0;
            text-transform: uppercase;
        }
    }
    &__img {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 87.5%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            width: 100%;
            height: auto;
        }
    }
    .slick-slide {
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 25px;
    }
    .learn-more-link {
        height: 45px;
        width: 100%;
        justify-content: center;
        border-radius: 23px;
        border: 1px solid;
    }
    .button,
    .learn-more-link {
        transform: translateY(50%);
    }
}

.available-adoptions-navs {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        color: $blue;
        &:hover {
            color: $darkBlue;
        }
        &.not-active {
            color: rgba(114, 128, 138, 0.5);
            cursor: inherit;
        }
    }
    h4 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .available-adoptions {
        &--margin-top {
            margin-top: 65px;
            padding-top: 20px;
        }
    }
}

@media (min-width: 768px) {
    .available-adoptions {
        &--margin-top {
            margin-top: 115px;
            padding-top: 20px;
        }
    }
}

/* text-block */
.text-block {
    max-width: 856px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* image-text-block */
.image-text-block {
    &__img {
        overflow: hidden;
        border-radius: 20% 80% 20% 80% / 80% 20% 80% 20%;
        transform: rotate(-7deg);
        flex-shrink: 0;
        width: 328px;
        height: 348px;
        img {
            display: block;
        }
    }
    h2 {
        margin-top: 0;
        margin-bottom: 20px;    
    }   
}
@media (max-width: 767px) {
    .text-block {
        padding-top: 20px;
    }

    .image-text-block {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        .green-bg & {
            padding-top: 0;
            padding-bottom: 0;
        }
        &__img {
            width: 250px;
            height: 260px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 25% 75% 25% 75% / 75% 25% 75% 25%;
        }
    }
}
@media (min-width: 768px) {
    .text-block {
        padding-top: 54px;
    }

    .image-text-block {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        .green-bg & {
            padding-top: 0;
            padding-bottom: 20px;
        }
        &--reverse {
            flex-direction: row-reverse;
            text-align: right;
            .image-text-block__img {
                margin-left: 60px;
                margin-right: 0;
            }
        }
        &__img {
            margin-right: 60px;
        }
    }
}

@media (min-width: 992px) {
    .image-text-block {
        padding-left: 95px;
        padding-right: 95px;
    }
}

/* how-you-can-help */
.how-you-can-help {
    padding-top: 51px;
    &__img {
        flex-shrink: 0;
    }
    &__content {
        background: url(../img/bg/how-we-can-help.svg) no-repeat 50% 50%;
    }
    h2 {
        margin-top: 0;
        margin-bottom: 32px;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 7px;
    }
}
@media (max-width: 767px) {
    .how-you-can-help {
        &__content { 
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 40px;
            background-size: auto 100%; 
            text-align: center;
        }
        &__item {
            padding-top: 40px;
            padding-bottom: 40px;
            &:last-child {
                .how-you-can-help__img {
                    height: 124px;
                }
            }
        }
        &__img {
            height: 150px;
            margin-bottom: 20px;
            img {
                height: 100%;
                width: auto;
            }
        }
        .button {
            margin-top: 5px;
        }
    }
}
@media (min-width: 768px) {
    .how-you-can-help {
        &__content {
            padding-left: 57px;
            padding-right: 57px;
            background-size: 100% 100%;
        }
        &__item {
            padding-top: 54px;
            padding-bottom: 54px;
            border-top: 2px solid #ffffff;
            display: flex;

        }
        &__img {
            margin-right: 25px;
            width: 40%;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .how-you-can-help {
        &__content {
            background-color: $lightBlue;
            border-radius: 30px;
        }
    }
}

@media (min-width: 992px) {
    .how-you-can-help {
        &__item {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
}

/* recent adoptions */
.recent-adoptions {
    text-align: center;
    &__item {
        position: relative;
        overflow: hidden;
        padding: 10px;
        & > img {
            width: 100%;
            border-radius: 27px;
        }
        &:hover {
            .recent-adoptions__text {
                opacity: 1;
                z-index: 1;
            }
        }
    }
    &__text {
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 10px;
        left: 10px;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 27px;
        background-color: rgba(12,98,154, 0.8);
        color: #fff;
        opacity: 0;
        z-index: -1;
        transition: all 0.3s;
   }
   h2 {
    margin-top: 0;
    margin-bottom: 26px;
   }
   h3,
   .headline-stripe {
        margin-top: 0;
        margin-bottom: 10px;
   }
}

@media (max-width: 767px) {
    .recent-adoptions {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (min-width: 768px) {
    .recent-adoptions {
        padding-top: 73px;
        padding-bottom: 40px;
        &--individual-photo {
            padding-top: 119px;
        }
    }
}

/* buttons */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    .button {
        & + .button {
            margin-top: 23px;
        }
    }
}

/* grid-columns */
.grid-columns {
    display: grid;
    grid-row-gap: 60px;
    text-align: center;
    &__img {
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 991px) {
    .ways-you-can-help {
        margin-top: 60px;
    }
}

@media (min-width: 992px) {
    .ways-you-can-help {
        margin-top: 130px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .grid-columns {
        margin-top: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 60px;
        grid-column-gap: 50px;

        .available-adoptions & {
            grid-row-gap: 86px;
        }
    }
}

// faq

.faq {
    &__item {
        border-bottom: 2px solid $yellow;
    }
    &__headline {
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        align-items: center;
        color: $blue;
        cursor: pointer;
        &:before {
            content: "";
            width: 21px;
            height: 12px;
            margin-right: 27px;
            display: inline-block;
            transition: all 0.3s;
            background: url(../img/icons/arrow-faq.svg) no-repeat 50% 50%;
            flex-shrink: 0;

            .opened & {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        display: none;
    }
    h4 {
        margin: 0;
    }
    p {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    .faq {
        padding-top: 50px;
        padding-bottom: 50px;
        &__content {
            padding-left: 48px;
            padding-right: 48px;
        }
    }
}

@media (min-width: 992px) {
    .faq {
        padding-top: 50px;
        padding-bottom: 100px;
        &__headline {
            padding-left: 40px;
            padding-right: 40px;
        }
        &__content {
            padding-left: 90px;
            padding-right: 90px;
        }
    }
}

/* individual */

.individual-gallery {
    margin-top: 40px;
}

.individual-info {
    max-width: 912px;
    margin-left: auto;
    margin-right: auto;
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }
    h5 {
        margin-top: 0;
        margin-bottom: 20px;
    }
    p {
        margin-top: 0;
        margin-bottom: 30px;
    }
}
.individual-info-tags {
    margin-top: 15px; 
    div {
        margin-top: 13px;
    }
    img {
        display: block;
    }
 }

 @media (max-width: 767px) {
    .individual {
        padding-top: 75px;
    }
    .individual-info {
        &__images {
           margin-bottom: 25px;
        }
        &__button {
            text-align: center;
        }
    }
 }

 @media (max-width: 480px) {
    .individual-info {
        &__photo {
            img {
                width: 100%;
            }
        }
    }
 }

 @media (min-width: 481px) and (max-width: 767px) {
    .individual-info {
        &__images {
           display: flex;
        }
    }

    .individual-info-tags {
        margin-top: 0;
        margin-left: 25px;
    }
 }

@media (min-width: 768px) {
    .individual {
        padding-top: 110px;
    }
    .individual-info {
        display: flex;
        &__images {
            width: 300px;
            flex-shrink: 0;
            
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .individual-info {
        &__photo {
            margin-right: 20px;
        }
    }
}

@media (min-width: 992px) {
    .individual-info {
        &__photo {
            margin-right: 75px;
        }
    }
}


/* footer */
.footer {
    position: relative;
    margin-top: 68px;
    padding-top: 14px;
    padding-bottom: 46px;
    background-color: $lightGreen;
    font-weight: 600;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -68px;
        height: 76px;
        background: url(../img/bg/footer-bg.png) repeat-x 0 0 / auto 100%;
    }
    &__item {
        display: flex;
        &:first-child {
            align-items: center;
        }
        &:last-child {
            justify-content: space-between;
        }
    }
    &__list {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 46px;
        line-height: 1.9;
    }
    img {
        flex-shrink: 0;
    }
    a {
        color: inherit;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 17px;
    }
    p {
        margin-bottom: 3px;
        margin-top: 0;
    }
    .button {
        margin-bottom: 20px;
    }
    .container {
        position: relative;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 25px;
        &:before {
            height: 25px;
            top: -25px;
        }
        &__row {
            flex-direction: column;
        }
        &__item {
            padding-left: 38px;
            padding-right: 38px;
            justify-content: space-between;
            & + & {
                margin-top: 26px;
            }
        }
        &__logo {
            margin-left: -45px;
            margin-right: -20px;
        }
        &__socials-copy {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start
        }
        .small {
            font-size: 12px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer {
        &__item {
            padding-left: 20px;
            padding-right: 20px;
        }
        &__logo {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        &__item {
            position: relative;
            &:not(:first-child) {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7px;
                    bottom: 7px;
                    width: 3px;
                    background-color:#2E353A;
                    border-radius: 2px;
                }
            }
        }
        &__logo {
            margin-top: -14px;
            margin-bottom: -14px;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        &__item {
            max-width: 50%;
            padding-left: 46px;
            padding-right: 46px;
        }
    }
}

/* visibility */
@media (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .mobile-visible {
        display: none;
    }
}