$lightGreen: #E7F5E0;
$yellow: #F0AD4E;

/* general */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 996px;
}

img {
    max-width: 100%;
    height: auto;
}

/* positions */
.d-flex {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.justify-content-center {
    justify-content: center;
}

/* visibility */
@media (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}
@media (min-width: 768px) {
    .mobile-visible {
        display: none;
    }
}

/* typography */
a {
    text-decoration: none;
    transition: all 0.3s;
}
a:not([class]) {
    color: #B40140;
    &:hover {
        color: #ED6283;
    }
}
h1 {
    font-weight: 700;
}
h2,
h3,
.h3,
h4 {
    font-weight: 800;
}
.green {
    color: #2B620F;
}
.blue {
    color: #0C629A;
}
.white {
    color: #ffffff;
}
.uppercase {
    text-transform: uppercase;
}

.headline-stripe {
    position: relative;
    padding-bottom: 12px;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 25px;
        height: 2px;
        border-radius: 2px;
        background-color: $yellow;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 15px;
        line-height: 1.5;
    }
    h1 {
        font-size: 24px;
        line-height: 1.3;
    }
    h2 {
        font-size: 22px;
        line-height: 1.36;
    }
    h3,
    .h3 {
        font-size: 20px;
        line-height: 1.4;
    }
    h4 {
        font-size: 18px;
        line-height: 1.3;
    }
    h5 {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 800;
    }
    .large {
        font-size: 16px;
        line-height: 1.375;
    }

    .footer {
        &__list {
            @extend .large;
        }
    }
}
@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.6;
    }
    h1 {
        font-size: 50px;
        line-height: 1.1;
    }
    h2 {
        font-size: 38px;
        line-height: 1.2;
    }
    h3,
    .h3 {
        font-size: 28px;
        line-height: 1.14;
    }
    h4 {
        font-size: 20px;
        line-height: 1.4;
    }
    h5 {
        font-size: 18px;
        line-height: 1.4;
        font-weight: 700;
    }
    .large {
        font-size: 18px;
        line-height: 1.44;
    }
    .small {
        font-size: 12px;
        line-height: 2.1;
    }
}

/* button */
.button {
    height: 45px;
    padding-left: 23px;
    padding-right: 23px;
    display: inline-flex;
    align-items: center;
    border-radius: 23px;
    border: 1px solid $yellow;
    background-color: $yellow;
    transition: all 0.3s;
    font-weight: 600;
    color: #2E353A;
    font-size: 18px;
    &:hover {
        color: #2E353A;
        background-color: #FACF92;
    }
}

.circle-arrow-link {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid $yellow;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
        transform: scale(1.2);
    }
}

/* header */
.header {
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        //background: url(../img/header-bg.svg) repeat-x 0 0 / cover;
    }
}

.logo {
    margin-bottom: -62px;
    img {
        display: block;
    }
}

.nav {
    font-weight: 500;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@media (max-width: 787px) {
    .header {
        padding-top: 14px;
    }
}

@media (min-width: 768px) {
    .header {
        padding-top: 20px;
    }
    .nav {
        & > ul {
            display: flex;
            align-items: center;
            & > li {
                position: relative;
                padding-left: 20px;
                padding-right: 20px;
                & >  a {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
            .has-children {
                & > a {
                    display: flex;
                    align-items: center;
                    svg {
                        margin-left: 5px;
                    }
                }
            }
           
        }
        a:not(.button) {
            color: #0C629A;
            &:hover {
                color:#B40140;
            }
        }
        .dropdown {
            position: absolute;
            left: 0;
            top: 100%;
            margin-top: 9px;
            padding: 36px 24px 28px;
            background-color: #ffffff;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            white-space: nowrap;
        }
    }
}

/* banner */
.banner {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    &--home {
        background-image: url(../img/banner/home.jpg);
    }
    &--adopt {
        background-image: url(../img/banner/adopt.jpg);
    }
    &--adoptions {
        background-image: url(../img/banner/adoptions.jpg);
    }
    &--volunteer {
        background-image: url(../img/banner/volunteer.jpg);
    }
    &--events {
        background-image: url(../img/banner/events.jpg);
    }
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .banner {
        height: 551px;
        padding-top: 83px;
    }
}

/* recent adoptions */
.recent-adoptions {
   border: 1px solid red; 
   text-align: center;
   &__slider {
    padding-left: 50px;
    padding-right: 50px;
    .slick-arrow {
        position: absolute;
        top: 50%;
        width: 18px;
        height: 30px;
        background-color: transparent;
        background: url(../img/icons/slider-arrow.svg) no-repeat 50% 50%;
        overflow: hidden;
        text-indent: -9999px;
    }
    .slick-prev {
        left: 0;
        transform: scaleX(-1);
    }
    .slick-next {
        right: 0;
    }
   }
   &__item {
    position: relative;
    overflow: hidden;
    padding: 10px;
    & > img {
        width: 100%;
        border-radius: 27px;
    }
   }
   &__text {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 27px;
    background-color: rgba(12,98,154, 0.8);
    color: #fff;
   }
   h3,
   .headline-stripe {
    margin-top: 0;
    margin-bottom: 10px;
   }
}

/* footer */
.footer {
    position: relative;
    margin-top: 40px;
    padding-top: 14px;
    padding-bottom: 46px;
    background-color: $lightGreen;
    font-weight: 600;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        height: 76px;
        background: url(../img/bg/footer-bg.png) repeat-x 0 0 / auto 100%;
    }
    &__item {
        display: flex;
        &:first-child {
            align-items: center;
        }
        &:last-child {
            justify-content: space-between;
        }
    }
    &__list {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 46px;
        line-height: 1.9;
    }
    img {
        flex-shrink: 0;
    }
    a {
        color: inherit;
    }
    h3 {
        margin-top: 0;
        margin-bottom: 17px;
    }
    p {
        margin-bottom: 3px;
        margin-top: 0;
    }
    .button {
        margin-bottom: 20px;
    }
    .container {
        position: relative;
    }
}

@media (max-width: 767px) {
    .footer {
        &__row {
            flex-direction: column;
        }
        &__item {
            padding-left: 40px;
            padding-right: 40px;
            justify-content: space-between;
            & + & {
                margin-top: 26px;
            }
        }
        &__logo {
            margin-left: -45px;
            margin-right: -20px;
        }
        &__socials-copy {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start
        }
        .small {
            font-size: 12px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer {
        &__item {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        &__item {
            position: relative;
            &:not(:first-child) {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 7px;
                    bottom: 7px;
                    width: 3px;
                    background-color:#2E353A;
                    border-radius: 2px;
                }
            }
        }
        &__logo {
            margin-top: -14px;
            margin-bottom: -14px;
        }
    }
}

@media (min-width: 992px) {
    .footer {
        &__item {
            max-width: 50%;
            padding-left: 46px;
            padding-right: 46px;
        }
    }
}